# Ignore all m5out directories and build directories
**/m5out/
**/checkpoint/

# Jekyll stuff
_site/
.sass-cache/
Gemfile.lock

typings/

# .vscode stuff
.vscode/*.log

__pycache__

# Ignore downloaded files
square
vmlinux-gpu-ml-isca
x86-ubuntu-gpu-ml-isca
x86-ubuntu-gpu-ml-isca.gz

# Ignore slides

*.html

build/
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/mem_queue_histogram.csv
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_128KB/citations.bib
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_128KB/config.dot
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_128KB/config.dot.svg
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_128KB/config.ini
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_128KB/config.json
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_128KB/simerr.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_128KB/simout.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_128KB/stats.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_1MB/citations.bib
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_1MB/config.dot
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_1MB/config.dot.svg
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_1MB/config.ini
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_1MB/config.json
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_1MB/simerr.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_1MB/simout.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_1MB/stats.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_256KB/citations.bib
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_256KB/config.dot
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_256KB/config.dot.svg
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_256KB/config.ini
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_256KB/config.json
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_256KB/simerr.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_256KB/simout.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_256KB/stats.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_2MB/citations.bib
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_2MB/config.dot
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_2MB/config.dot.svg
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_2MB/config.ini
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_2MB/config.json
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_2MB/simerr.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_2MB/simout.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_2MB/stats.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_512KB/citations.bib
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_512KB/config.dot
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_512KB/config.dot.svg
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_512KB/config.ini
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_512KB/config.json
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_512KB/simerr.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_512KB/simout.txt
materials/02-Using-gem5/03-running-in-gem5/06-traffic-gen/l2Cache_512KB/stats.txt
